@import 'Variables.scss';
@import 'Mixins.scss';

.header {
  &__container {
    @include container;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-login {
    display: flex;
    align-items: center;

    &-photo {
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
    }

    &-img {
      max-width: 3rem;
      border-radius: 50%;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;

      @media (max-width: $screen-xs) {
        display: none;
      }
    }
  }
}