// ------------- Colors
$main-color:                                #071dff;
$custom-color:                              #061075;
$white-color:                               #ffffff;
$almost-white-color:                        #f8f8f8;
$mid-gray-color:                            #e4e4e4;
$gray-color:                                #545455;
$black-color:                               #000000;


// ------------- Other
$shadow:                                    0 5px 13px -5px rgba(196,196,196,1);
$general-radius:                            4rem;